html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgbaa(0,0,50,0.5),rgba(0,0,50,0.5)), url(bild.jpg);
    background-position: center;
    font-family: sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
    color: #ffffff;
}

nav.black {
    background: rgba(0,0,0,0,8);
    height: 100px;
    padding: 10px 100px;
}

nav .logo {
    padding: 22px 20px;
    height: 50x;
    float: right;
    font-size: 24px;
    transition: .3s;
    
    
}

nav.black .logo {
    color: #ffffff;
    
}

nav ul {
    list-style: none;
    float: center;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
    height: 70px;
}

nav ul li a {
    line-height: 80px;
    color: black;
    padding: 30px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    font-size: 20px;
    
    
}

nav.black ul li a {
    color: #ffffff;
}

nav ul li a:focus {
    outline: none;
}
/*här under har jag lagt min backgrund till hemsidan*/
section.BackgroundIMG {
    width: 100%;
    height: 100vh;                                                            
    background: url(./logo/bild.jpg);
    background-size: cover;
    background-position: center;
}
/*under har jag lagt till titeln välkommen, ändrade på storleken.*/
section.BackgroundIMG h1 {
    float: center;
    margin: 0px;
    padding: 20px 800px;
    font-size: 70px;
}

.content {
    margin-top: 80px;
}

.content p {
    width: 900px;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

.page-wrapper {
    min-height: 100%;
}

.footer {
    background: #303030;
    color: white;
    height: 400px;
    position: relative;
    
}

.footer .footer-content {
    
    height: 100px;
    display: flex;
   
}
.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    color: white;
}

.footer .footer-bottom {
    background: #303030;
    color: white;
    height: 50px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 60px;
}


.contact-title {
    margin-top: 100px;
    color: #ffffff;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.contact-title h2 {
    font-size: 16px;
}

form {
    margin-top: 50px;
    transition: all 2s ease-in-out;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}
form.submit {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form.submit:hover {
    background-color: #ff5722;
    cursor: pointer;
}